@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
body {
  touch-action: manipulation;
  opacity: 0;
  transition: opacity .5s;
  cursor: default;
}

html { 
	background: rgb(238,238,238);
    background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(200,200,200,1) 100%);
    /*background: url(../assets/img/bg.jpeg)  no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;*/
}
/*@media (max-width: 768px) {
  html {
    background: rgba(0,71,193,1) 48%;
  }
}*/

.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: opacity .95s cubic-bezier(1,1,1,1)
}
@keyframes opacity {
  99% { opacity: 1; }
  100% { opacity: 0; }
}
@media only screen and (max-width: 768px) {
	.progress{
		width: 78vw;
	}
  }
.progress-value {
  animation: load 0.9s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #6c757d;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}
.box{
  width: 400px;
  background: #6c757d;
  box-shadow: 7px 7px 20px #0000005c;
  padding: 30px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  border-radius: 30px;
  text-align: center;
  margin: auto;
  color: #eaeaea;
  font-family: "Source Sans Pro", times new roman, sans-serif;
  -webkit-animation: height 1.9s ease-in-out;
  overflow: hidden;
  opacity: 1;
}
@keyframes height{
  0% {
   max-height: 0;
   opacity: 0;
  }
  40% {
   max-height: 0;
   opacity: 0;
  }
  100% {
    max-height: 650px;
	opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
	.box{
		width: 78vw;
		margin-top: 3vh;
	}
  }
 .contentreveal {
   -webkit-animation: opacity 1.9s ease-in-out;
}
@keyframes opacity{
  0% {
   opacity: 0;
  }
  40% {
   opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.box-img{
  border-radius: 50%;
  width: 130px;
  border-style: solid;
  border-width: 2px;
}
@media only screen and (max-width: 768px) {
	.box-img{
		width: 17vh;
	}
}
.select {
	color: #FFFFFF;
	background-color: rgb(108 117 125);
	border: 1.99px solid #FFFFFF;
    border-radius: 13px;
	height: 27px;
	margin-top: 3vh;
	font-size: 17px;
	outline: none;
}
@media only screen and (max-width: 768px) {
	.select{
		height: 4vh;
		/*background-color: rgb(68 86 110);*/
		width: auto!important;
		font-size: 2.5vh; 
		margin-top: 3vh;
	}
  }
.ico-img{
  width: 35px;
  cursor: pointer;
  margin-top: 2.5vh;
  transition: transform 200ms ease-in-out;
}
.ico-img:hover {
	transform: scale(1.1);
}
@media only screen and (max-width: 768px) {
	.ico-img{
		width: 6vh;
	}
  }
.ico-img1{
  width: 180px;
  margin-top: 0.5vh;
}
@media only screen and (max-width: 768px) {
	.ico-img1{
		width: 28vh;
		max-width: 70%;
		margin-top: 0.5vh;
	}
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
@media only screen and (max-width: 768px) {
	.box h1{
        font-size:4.1vh;
        margin-top: 3vh;
	}
  }
@media only screen and (min-height: 1000px) {
	.box h1{
		font-size: 27px;
	}
}
.box h5{
  font-size: 21px;
  padding: 1%;
  color: #191919;
  border-radius: 20px;
  background: rgb(219 219 219);
  box-shadow: inset 5px 5px 20px 0px #c1c1c1;
  letter-spacing: 1px;
  font-weight: 100;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
@media only screen and (max-width: 768px) {
	.box h5{
		font-size: 2.5vh;
	}
  }
.box p{
  text-align: justify;
}

@media only screen and (min-height: 1000px) {
	.box p{
		font-size: 19px;
	}
}
@media only screen and (max-width: 768px) {
	.box p{
		font-size: 2.1vh;
		text-align: justify;
		margin-bottom: 3vh;
	}
  }
ul{
  margin-top: -15px;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.resume {
  color: #3c3c3c; 
  background: rgb(219 219 219);
  box-shadow: inset 5px 5px 20px 0px #c1c1c1;
  padding: 2%; 
  border: 0px; 
  border-radius: 12px; 
  font-size: 18px;
  outline: none;
  transition: background 150ms ease-in-out;
  cursor: pointer;
}
.resume:hover {
	background: #bfbfbf;
}
.resume:active {
	background: #a5a5a5;
}
@media only screen and (max-width: 768px) {
	.resume{
		font-size: 3.5vh;
	}
  }
.footer {
  position: relative;
  background-color: transparent;
  color: #777777;
  width: fit-content;
  margin: auto;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  font-family: "Helvetica";
}
@media only screen and (max-width: 768px) {
	.footer {
		font-size: 12px;
		background: #6c757d;
		padding: 3px;
		color: white;
	}
  }
.centered {
  position: fixed;
  top: 49.6%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 960px) {
	.centered {
		transform: unset!important;
		position:unset!important;
		top: unset!important;
		left: unset!important;
	}
}
.bottom {
  position: fixed;
  top: 96%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 960px) {
	.bottom {
/*		position: unset!important;
		left: unset!important;
		transform: unset!important;*/
		top: 95%;
		margin-top: 3vh;
	}
}
@media only screen and (max-width: 360px) {
	.br {
		font-size: 7.5vw;
	}
}

.cursornormal {
	cursor: default;
}
.link {
	 text-decoration: none;
	 color: #777777;
}
@media only screen and (max-width: 768px) {
	.link {
		color: white;
	}
}
.link:visited {
	text-decoration: none;
	color: #777777;
}

.hidden {
    display: none!important;
}

#cookie-banner {
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5em;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    overflow: hidden;
    position: fixed;
    transition: opacity 1s ease;
    z-index: 9999;
	flex-direction: column;
    max-width: 22em;
    padding: 1.5em;
	padding: 0;
	right: 1em;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
    bottom: 1em;
	box-shadow: 0px 5px 20px #0000005c;
    border-radius: 20px;
	background-color: rgb(108, 117, 125);
    border-color: rgb(60, 60, 60);
    color: rgb(234, 234, 234);
}
@media screen and (max-width: 414px) and (orientation: portrait), screen and (max-width: 736px) and (orientation: landscape){
	#cookie-banner {
	bottom: 0!important;
	left: 0!important;
    margin: 0!important;
    right: 0!important;
	border-radius: 20px 20px 0px 0px;
    box-shadow: 0px -5px 20px #0000005c;
	max-width: none;
	background-color: rgb(108, 117, 125);
    border-color: rgb(60, 60, 60);
    color: rgb(234, 234, 234);
	padding: 0;
	}
}

#cookie-banner div {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5em;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	color: rgb(234, 234, 234);
	display: block;
	transition: opacity 1s ease;
}
@media screen and (max-width: 414px) and (orientation: portrait), screen and (max-width: 736px) and (orientation: landscape){
	#cookie-banner div {
	margin-bottom: 1em;
	display: block;
    margin-bottom: 1em;
	padding: 0;
	}
}

#cookie-banner div span:first-child {
    font-size: 16px;
    line-height: 1.5em;
	color: rgb(234, 234, 234);
	display: block;
	transition: opacity 1s ease;
	margin: 1em;
}
#cookie-banner div span:second-child {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    font-weight: 700;
    display: flex;
    cursor: pointer;
    border-radius: 9999px;
	  transition: opacity 1s ease;
    background-color: #4299e1;
}
.consent-cookies {
	line-height: 1.5em;
	cursor: pointer;
	display: block;
    font-size: .9em;
    font-weight: 700;
    padding: .4em .8em;
    text-align: center;
    white-space: nowrap;
    -webkit-transition: background-color .2s ease;
	color: rgb(60, 60, 60);
    background-color: rgb(220, 220, 220);
	outline: none;
	transition: opacity 1s ease;
    padding: 9px;
}

.policy {
	color: rgb(234, 234, 234);
	text-decoration: underline
}