body {
  touch-action: manipulation;
}
html { 
    /*background: url(../assets/img/bg.jpeg)  no-repeat center center fixed;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}
/*@media (max-width: 768px) {
  html {
    background: rgba(0,71,193,1) 48%;
  }
}*/
.box{
  width: 400px;
  background: rgb(125 132 146 / 88%);
  padding: 30px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  border-radius: 30px;
  text-align: center;
  margin: auto;
  margin-top: 2vh;
  color: white;
  font-family: Helvetica, arial, Sans-Serif;
}
@media only screen and (max-width: 768px) {
	.box{
		width: 78vw;
		margin-top: 3%;
	}
  }
.box-img{
  margin: 1vh;
  border-radius: 50%;
  width: 20vh;
  max-width: 200px;
  border-style: solid;
  border-width: 2px;
}
@media only screen and (max-width: 768px) {
	.box-img{
		width: 30vw;
	}
  }
.select {
	color: #FFFFFF;
	background-color: rgb(109 122 139);
	border: 1.99px solid #FFFFFF;
    border-radius: 13px;
	height: 27px;
	margin: 1vh;
	font-size: 17px;
	
}
@media only screen and (max-width: 768px) {
	.select{
		height: 4vh;
		/*background-color: rgb(68 86 110);*/
		width: auto!important;
		font-size: 2.5vh; 
		margin-top: 3%;
	}
  }
.ico-img{
  width: 5.5vh;
  margin-top: 2.5vh;
  min-width: 35px;
}
@media only screen and (max-width: 768px) {
	.ico-img{
		width: 6vh;
	}
  }
.ico-img1{
  width: 180px;
  margin-top: 0.5vh;
}
@media only screen and (max-width: 768px) {
	.ico-img1{
		width: 28vh;
		max-width: 70%;
		margin-top: 0.5vh;
	}
  }
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
@media only screen and (max-width: 768px) {
	.box h1{
        font-size:4.1vh;
        margin-top: 3%;
	}
  }
@media only screen and (min-height: 1000px) {
	.box h1{
		font-size: 27px;
	}
}
.box h5{
  font-size: 18px;
  padding: 1%;
  border-radius: 20px;
  background: rgb(0 38 65);
  letter-spacing: 3px;
  font-weight: 100;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
@media only screen and (max-width: 768px) {
	.box h5{
		font-size: 2.5vh;
	}
  }
.box p{
  text-align: justify;
}
@media only screen and (min-height: 1000px) {
	.box p{
		font-size: 19px;
	}
}
@media only screen and (max-width: 768px) {
	.box p{
		font-size: 2.4vh;
		text-align: justify;
	}
  }
ul{
  margin-top: -15px;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.resume{
  color: white; 
  background: rgb(0 38 65); 
  padding: 2%; 
  border: 0px; 
  border-radius: 12px; 
  font-size: 3vh;
}
@media only screen and (max-width: 768px) {
	.resume{
		font-size: 4vh;
	}
  }
@media only screen and (max-height: 450px) {
	.resume{
		font-size: 30px;
	}
  }
.footer {
  position: relative;
  background-color: transparent;
  color: white;
  width: fit-content;
  margin: auto;
  border-radius: 10px;
  background-color: #002641c4;
  text-align: center;
  font-family: sans-serif;
}
@media only screen and (max-width: 768px) {
	.footer{
		font-size: 12px;
	}
  }
