@font-face {
  font-family:"Nunito";
  src: url("../fonts/Nunito-SemiBold.ttf") format("truetype");
}
body {
  touch-action: manipulation;
}
html { 
background: rgb(0,95,209);
background: linear-gradient(90deg, rgba(0,95,209,1) 0%, rgba(0,45,176,1) 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
@media (max-width: 768px) {
  html {
    background: rgba(0,71,193,1) 48%;
  }
}
.box{
  width: 400px;
  background: rgb(255 255 255 / 52%);
  padding: 40px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  border-radius: 30px;
  text-align: center;
  margin: auto;
  margin-top: 2vh;
  color: white;
  font-family: Helvetica, arial, Sans-Serif;
}
@media only screen and (max-width: 768px) {
	.box{
		width: 72vw;
		margin-top: 5%;
	}
  }
.box-img{
  margin: 1vh;
  border-radius: 50%;
  width: 20vh;
  max-width: 200px;
  border-style: solid;
  border-width: 2px;
}
@media only screen and (max-width: 768px) {
	.box-img{
		width: 30vw;
	}
  }
.select {
	color: #FFFFFF;
	background-color: rgb(133 167 225);
	border: 1.99px solid #FFFFFF;
	height: 27px;
	margin: 1vh;
	font-size: 17px;
	
}
@media only screen and (max-width: 768px) {
	.select{
		height: 4vh;
		background-color: rgb(133 167 225);	
		width: auto!important;
		font-size: 2.5vh; 
		margin-top: 3%;
	}
  }
.ico-img{
  width: 55x;
  height: 55px;
  margin-top: 2.5vh;
}
@media only screen and (max-width: 768px) {
	.ico-img{
		width: auto!important;
		height: 13vw;
	}
  }
  .ico-img1{
  width: 180px;
  margin-top: 0.5vh;
}
@media only screen and (max-width: 768px) {
	.ico-img1{
		width: 28vh;
		max-width: 70%;
		margin-top: 0.5vh;
	}
  }
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
@media only screen and (max-width: 768px) {
	.box h1{
	font-size:4.1vh;
		margin-top: 3%;
	}
  }
@media only screen and (min-height: 1080px) {
	.box h1{
		font-size: 27px;
	}
}
.box h5{
  font-size: 18px;
  padding: 1%;
  border-radius: 20px;
  background: rgba(0,71,193,1) 48%;
  letter-spacing: 3px;
  font-weight: 100;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
@media only screen and (max-width: 768px) {
	.box h5{
		font-size: 2.5vh;
	}
  }
.box p{
  text-align: justify;
  font-size: 2.3vh;
}
@media only screen and (min-height: 850px) {
	.box p{
		font-size: 19px;
	}
}
@media only screen and (max-width: 768px) {
	.box p{
		font-size: 4.3vw;
		text-align: justify;
	}
  }
ul{
  margin-top: -15px;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.footer {
  position: relative;
  background-color: transparent;
  color: white;
  text-align: center;
  font-family: 'Nunito', Fallback, sans-serif;
}
@media only screen and (max-width: 768px) {
	.footer{
		font-size: 12px;
	}
  }
